@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #a1c3ff;

}


.container{
    width: 100%;
    max-width: 1100px;
    height: 80px;
    margin: 0 auto;
}

#nav{
    height: 80px;
    width: 100%;
    background-color: blue;
    color: #fff;
}

#nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#nav ul{
    display: flex;
    list-style: none;
}

#nav ul li{
    display: inline-block;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 600;
}

#nav a{
    color: #fff;
    text-decoration: none ;
    font-size: 18px;
    font-weight: bold;
}

#nav a:hover{
    color: lightblue;
}


#hero{
    height: 400px;
    width: 100%;
    background-color: rgb(25, 25, 172);
}

#hero .container{
    display: flex;
    color: #fff;
    height: 100%;
    align-items: center;

    
} 

.hero-content{
    color: #fff;
    display: flex;
    width: 100%;
}

.hero-content h1{
   font-size: 2rem;
}
.hero-content P{
    font-size: 18px;
    margin-top: 30px;
}

#hero .container .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.hero-image {
    display: flex;
}

.hero-image img{
    width: 900px;
}

img{
    max-width: 90%;
}

/ADD/
.boxes {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    display: flex;
    background-color: #a1c3ff;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
}

.box{
    justify-content: space-between;
    margin: 10px;
    background-color: blue;
    height: 130px;

    width: 300px;

    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 20px;
    color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.box h2{
    padding-bottom: 10px;
    flex-direction: ;
}

.box p{
    padding-bottom: 5px;
}

.box i{
    margin-right: 10px;
}

@media(max-width:600px) {
    body{   
    margin: 0;
    padding: 0;
    width: 100%;
}

.logo h1{
    font-size: 16px;
    text-align: center;

  }

  #nav ul{
    display: flex;
}

#nav ul li{
    padding: 0.3rem 0.4rem;
}

#nav a{
    color: #fff;
    text-decoration: none ;
    font-size: 15px;
    font-weight: bold;
}


.hero-image img{
    max-width: 100%;
    align-items: center;
}

#hero{
    height: 600px;
}


#hero .container{
    display: block;
    
}

.hero-content{
    color: #fff;
    display:  flex;
    
    margin: 2px;
}
.hero-content h1{
    font-size: 2rem;
}

.hero-content p{
    font-size: 18px;
    margin-top: 20px;
    width: 90%;
}

.container{
    width: 100%;
}

.box{
  width: 100%;
  max-width: 300px;
}

.boxes{
    height: 500px;
    background-color: #a1c3ff;
}

}
